h1{
color: blue;
text-align:center;
font-weight: bold;
line-height: 2;
border:3px double black;

}
li:last-child a {
  margin-right: 0;
}
li {
  display: inline;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 21%;
  margin-right: 0.75%;
  text-align: center;
  line-height: 3;
  color: blue;
}

a:link, a:visited, a:focus {
  background: yellow;
}

a:hover {
  background: cyan;
}

a:active {
  background: red;
  color: white;
}
