body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  background-color: #ace5ac;
  /* margin:75px; */
  /* background:linear-gradient(#acb6e5,#86fde8); */
  /* background-size: cover; */
  /* background-image: url('images/mastermind.jpg'); */
}


main{
  margin:100px;
}


h1{
font-family:'Lobster', cursive;
color: blue;
text-align:center;
font-weight: bold;
line-height: 2;
border:3px double black;
}


ul{
  padding-left:50px;
}


p{
text-align: justify;
}


/* Structure des liens de navigation */
.li_navig{last-child a {
  margin-right: 0;
}}
.li_navig{
  display: inline;
  padding:15px;
}

.a_navig{
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 17%;
  /* margin-right: 0.75%; */
  text-align: center;
  line-height: 3;
  color: blue;
}

.a_navig:link, .a_entete:visited, .a_entete:focus {
  background: yellow;
  border-radius: 20px;
  box-shadow: 6px 6px 15px rgb(29,49,63);
}

.a_navig:hover {
  background: #ffd900;
}

.a_navig:active {
  background: hwb(44 0% 0%);
  color: white;
}

/* Texte/Image sur deux colonnes */
.row{
  display:flex;
  align-items: center;
  margin-top:-20px
}

.column{
  flex:50%;
}

.centre{
  display:flex;
  justify-content: center;
}


td {
  
  background-color: lightblue;
  
  }
  
  
  container{
    
    height: 100 %;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img.tableau{;
    width: 100px;
    transition: transform .3s;
  }
  
  img.tableau:hover{;
    transform: scale(3); 
  }
  
  p.date{
    text-align:right;  
    font-size: x-small;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 30vh;
    top: 0;
    background-color: #ace5ac;
    z-index: 999; /* Cela garantit que le menu apparaîtra toujours au-dessus des autres éléments de la page */
  }
  
  
  .container_regles {
    display: flex;
    flex-direction: row;
    height: 70vh; /* On réduit la hauteur du conteneur pour tenir compte du menu de navigation */
    margin-top: 30vh; /* On ajoute une marge en haut pour éviter que le contenu ne soit masqué par le menu de navigation */
  }
  
  .col-gauche {
    flex: 1;
    padding: 2em;
  }
  
  .col-droite {
    flex: 3;
    padding: 2em;
  }  

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
